.bg{
  background: #ffffff;
}
.flex{
  display: flex;
}
.flex3{
  flex: 3;
}
.flex1{
  flex: 1;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  /* background: #ffffff; */
  padding: 24px;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
}
.cross_center{
  display: flex;
  align-items: center;
}
.main_space{
  display: flex;
  justify-content: space-between;
}
.icon_micro{
  width: 20px;
  height: 20px;
}
.flex_start{
  /* display: flex; */
  justify-content: flex-start;
}
.col{
  display: flex;
  flex-direction: column;
}
.input_width{
  width: 131px !important;
  height: 24px;
}
.search_title{
  font-size:14px;
  color:rgba(76,76,78,1);
  margin-left: 70px;
}
.search_width{
  width: 89px !important;
  height: 24px;
  margin-left: 10px;
}
.btn{
  height: 24px;
  width:69px;
  padding: 0;
  margin-left: 24px;
  border-radius: 4px;
  border:0;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.primary_plain_btn{
  background: #ffffff;
  color:#F88200;
  border: 1px solid #F88200;
}
.primary_btn{
  background: #F88200;
  color: #ffffff;
}